# Virtual environment
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific files
*/config.py

# CHROMA database
app/database/chroma/*
app/database/chroma_2/*
app/database/sqlite3/*

# Google Drive API credentials
client_secrets.json
credentials.json
settings.yaml

# Q&A Generation Embeddings
app/generation/embeddings/*